body {
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #070707;
}

p {
  font-size: 0.7em;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 8px;
}
.fas {
  font-size: 1.1em;
  left: 1px;
  margin-left: 1px;
  vertical-align: text-bottom;

  /* styles that used to be active:
  font-size: 1em;

  margin-right: -1px;
  */
}

.error {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #b63232
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #7a7a7a !important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}



.button:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}